/* footer */
#footer {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  color: #bbbbbb;
  font-size: 14px;
}
#footer .copyright {
  margin: 20px auto;
  font-size: 15px;
}
.powerby {
  margin: 20px auto;
  font-size: 13px;
}
#footer .split {
  cursor: pointer;
}
#footer .split:hover path {
  fill: #ff3356;
  transition: 0.7s ease-out;
  cursor: pointer;;
}